body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
	background-color: #ffffff
}

.nav {
	background-color: #2F3241;
	color: #2F3241;
	list-style: none;
	text-align: center;
	padding: 20px 180px 20px 20px;
	margin: auto;
}

.nav > li {
	display: inline-block;
	padding: 0 30px 0 30px;
	font-size: 12px;
    font-style: bold;
}

.nav > li > a {
	text-decoration: none;
	color: #6798a2;
}

.nav > li > a:hover {
	color: #9feaf9;
}

.logo {
	color: #ffffff;
	float: left;
	padding-left: 25px;
	font-size: 24px;
}

.logo > a {
	text-decoration: none;
	color: #6798a2;
}

.banner {
	width: 100%;
	display: block;
	float:left;
}

.banner > .banner-image {
	width: 100%;
	display: block;
}


/*.spacer {
	color: #000000;
	height: 100px;
	background-color: black;
}*/
