body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', serif;
	background-color: #000000
}

.nav {
	background-color: #ffff;
	--background-image: linear-gradient(#2F6DD5, #285AAF, #244F96);
	color: #000000;
	list-style: none;
	text-align: right;
	padding: 20px 20px 20px 20px;
	margin: auto;
}

.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 12px;
    font-style: bold;
}

.nav > li > a {
	text-decoration: none;
	color: #000000;
}

.nav > li > a:hover {
	color: #c1c1c1c1;
}

.logo {
	color: #000000;
	float: left;
	font-weight: bold;
	background-color: red;
	width:80px;
	height: 80px;
	padding: 5px;
}

.logo > a {
	text-decoration: none;
	color: #ffffff;
}


.banner {
	width: 100%;
	display: block;
	--overflow: auto;
	float:left;
}

.banner > .banner-image {
	width: 100%;
	display: block;
}

.logo > a > .letterH {
	font-size: 55px;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 10 0 0 18;
	text-shadow: 8px 1px 6px black;
}

.logo > a > .letterI {
	font-size: 15px;
	float: left;
	vertical-align: middle;
	font-family: 'Courier New', serif;
	padding: 10 0 0 0;
	text-shadow: 4px 1px 6px black;
}
